<h2 mat-dialog-title>Add contact</h2>
<mat-dialog-content class="mat-typography">
  <form #addContactForm="ngForm">
    <table class="full-width">
      <tr>
        <td>
          <mat-form-field class="full-width" appearance="fill">
            <mat-label>First Name</mat-label>
            <input matInput type="text" id="firstName" ngModel name="firstName" required maxlength="20" pattern="^[a-zA-Z]+$" #firstName="ngModel">
          </mat-form-field>
        </td>
        <td>
          <mat-form-field class="full-width" appearance="fill">
            <mat-label>Last Name</mat-label>
            <input matInput type="text" id="lastName" ngModel name="lastName" required maxlength="20" pattern="[a-zA-Z]+$" #lastName="ngModel">
          </mat-form-field>
        </td>
      </tr>
      <tr>
        <td colspan="2">
          <div *ngIf="firstName.invalid && (firstName.dirty || firstName.touched)" class="alert">
            <div *ngIf="firstName.errors?.['required']">
              First name is required.
            </div>
            <div *ngIf="firstName.errors?.['maxlength']">
              First name can be up to 20 characters long.
            </div>
            <div *ngIf="firstName.errors?.['pattern']">
              First name can only contain letters of the alphabet without spaces.
            </div>
          </div>
        </td>
      </tr>
      <tr>
        <td colspan="2">
          <div *ngIf="lastName.invalid && (lastName.dirty || lastName.touched)" class="alert">
            <div *ngIf="lastName.errors?.['required']">
              Last name is required.
            </div>
            <div *ngIf="lastName.errors?.['maxlength']">
              Last name can be up to 20 characters long.
            </div>
            <div *ngIf="lastName.errors?.['pattern']">
              Last name can only contain letters of the alphabet without spaces.
            </div>
          </div>
        </td>
      </tr>
    </table>
    <mat-form-field class="full-width" appearance="fill">
      <mat-label>Address</mat-label>
      <input matInput type="text" id="address" ngModel name="address" required maxlength="30" pattern="^[a-zA-Z0-9 ]+$" #address="ngModel">
    </mat-form-field>
    <div *ngIf="address.invalid && (address.dirty || address.touched)" class="alert">
      <div *ngIf="address.errors?.['required']">
        Address is required.
      </div>
      <div *ngIf="address.errors?.['maxlength']">
        Address can be up to 30 characters long.
      </div>
      <div *ngIf="address.errors?.['pattern']">
        Address can only contain letters and numbers.
      </div>
    </div>
    <mat-form-field class="full-width" appearance="fill">
      <mat-label>Phone Number</mat-label>
      <input matInput type="text" id="phoneNumber" ngModel name="phoneNumber" required pattern="^\+[0-9]{9,14}$" #phoneNumber="ngModel">
    </mat-form-field>
    <div *ngIf="phoneNumber.invalid && (phoneNumber.dirty || phoneNumber.touched)" class="alert">
      <div *ngIf="phoneNumber.errors?.['required']">
        Phone number is required.
      </div>
      <div *ngIf="phoneNumber.errors?.['pattern']">
        Phone number must have '+' followed by 9 to 14 digits.
      </div>
    </div>
    <mat-form-field class="full-width" appearance="fill">
      <mat-label>Contact type</mat-label>
      <mat-select id="contactType" ngModel name="contactTypeTsid">
        <mat-option *ngFor="let contactType of contactTypes" [value]="contactType.tsid">{{ contactType.type }}</mat-option>
      </mat-select>
    </mat-form-field>
  </form>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-raised-button cdkFocusInitial mat-dialog-close="">Cancel</button>
  <button mat-raised-button color="primary" [mat-dialog-close]="true" (click)="onSubmit(addContactForm)" [disabled]="!addContactForm.valid">Submit</button>
</mat-dialog-actions>
