form {
  min-width: 150px;
  max-width: 500px;
  width: 100%;
}

.full-width {
  width: 100%;
}

.alert {
  color: darkred;
  background-color: lightpink;
  text-align: center;
  margin-bottom: 10px;
}
