.login, .logout{
  display: flex;
  align-items: center;
}
.login:hover, .logout:hover {
  cursor: pointer;
}
.icon {
  padding: 0 14px;
}
.spacer {
  flex: 1 1 auto;
}

.welcome {
  color: #ffd966;
  margin-right: 10px;
}
